In [1]:
# from database import Base, engine, SessionLocal
# from sqlalchemy import Column, Integer, String, ForeignKey, DateTime
# from sqlalchemy.orm import relationship


# class UserData(Base):
#     __tablename__ = "user_data"
#     __table_args__ = {"schema": "public"}
#     age = Column(Integer)
#     city = Column(String)
#     country = Column(String)
#     exp_group = Column(Integer)
#     gender = Column(Integer)
#     user_id = Column(Integer, primary_key=True)
#     os = Column(String)
#     source = Column(String)


# # if __name__ == "__main__":
# Base.metadata.create_all(engine)

# session = SessionLocal()
# for obj in session.query(UserData).limit(10).all():
#     print(type(obj.user_id), type(obj.age), type(obj.country), type(obj.city))

In [1]:
import pandas as pd
from sqlalchemy import create_engine

SQLALCHEMY_DATABASE_URL = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

engine = create_engine(SQLALCHEMY_DATABASE_URL)

In [2]:
user_query = "SELECT * FROM public.user_data"
user_df = pd.read_sql(user_query, engine)

post_query = "SELECT * FROM public.post_text_df"
post_df = pd.read_sql(post_query, engine)

feed_query = "SELECT * FROM public.feed_data LIMIT 1000"
feed_df = pd.read_sql(feed_query, engine)

In [3]:
user_df

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [4]:
post_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [12]:
feed_df[feed_df['user_id'] == 13346].head(30)

             timestamp  user_id  post_id action  target
0  2021-10-17 08:54:09    13346     1477   view       1
1  2021-10-17 08:54:28    13346     1477   like       0
2  2021-10-17 08:54:30    13346     7042   view       0
3  2021-10-17 08:57:22    13346     1700   view       0
4  2021-10-17 09:00:21    13346     3773   view       0
5  2021-10-17 09:02:48    13346     1626   view       0
6  2021-10-17 09:03:25    13346     4853   view       0
7  2021-10-17 09:05:55    13346     6903   view       0
8  2021-10-17 09:07:05    13346      942   view       0
9  2021-10-17 09:08:06    13346     2775   view       0
10 2021-10-17 09:10:21    13346     6006   view       1
11 2021-10-17 09:11:44    13346     6006   like       0
12 2021-10-17 09:11:46    13346     1399   view       0
13 2021-10-17 09:14:09    13346     2809   view       0
14 2021-10-17 09:15:04    13346     1338   view       1
15 2021-10-17 09:16:55    13346     1338   like       0
16 2021-10-17 09:16:57    13346     1762   view       0
17 2021-10-17 09:19:23    13346     1457   view       1
18 2021-10-17 09:20:57    13346     1457   like       0
19 2021-10-17 09:20:59    13346     2997   view       0
20 2021-10-17 09:21:50    13346     6118   view       0
21 2021-10-17 09:24:19    13346     6549   view       0
22 2021-10-17 09:24:57    13346     4964   view       0
23 2021-10-17 09:25:49    13346     6836   view       1
24 2021-10-17 09:28:37    13346     6836   like       0
25 2021-10-17 09:28:39    13346     5417   view       0
26 2021-10-17 09:31:34    13346      806   view       0
27 2021-10-17 09:31:47    13346     6231   view       0
28 2021-10-17 09:33:02    13346     1630   view       0
29 2021-10-17 09:34:53    13346      571   view       0